In [1]:
import numpy as np 
import pandas as pd 
import random

import cv2
import os

In [2]:
root_dir = r'../'
images_dir = os.path.join(root_dir,'db')
notes_path = os.path.join(os.getcwd(), 'dataset', 'annotations')
train_labels_path = os.path.join(notes_path,'malevis_recognition_train.csv')
test_labels_path = os.path.join(notes_path,'malevis_recognition_test.csv')

In [4]:
train_df = pd.read_csv(train_labels_path,usecols=['FileName','Label','ClassName'])
test_df = pd.read_csv(test_labels_path,usecols=['FileName','Label','ClassName'])

In [5]:
train_df.head()

                                            FileName  Label ClassName
0  ../db/malevis_train/Vilsel/977b0f3ea9fcf4616d7...      0    Vilsel
1  ../db/malevis_train/Vilsel/152f15cb5ab8fde5ce2...      0    Vilsel
2  ../db/malevis_train/Vilsel/9766ffe83baf12fb825...      0    Vilsel
3  ../db/malevis_train/Vilsel/29d962851ce3b2607d4...      0    Vilsel
4  ../db/malevis_train/Vilsel/87011472817fbff5921...      0    Vilsel

In [6]:
per_labeled_data=10
small_labeled_data=pd.DataFrame(columns=['FileName','Label','ClassName'])
small_labeled_data

Empty DataFrame
Columns: [FileName, Label, ClassName]
Index: []

In [7]:
for labels in range(26):
    data=train_df[train_df['Label']==labels]
    num_labeled_samp=int((len(data)/100)*per_labeled_data)
    print(num_labeled_samp)
    idxs = random.sample(range(1, len(data)), num_labeled_samp)
    data_selected=data.iloc[idxs]
    small_labeled_data = pd.concat([small_labeled_data,data_selected])

29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29

In [8]:
small_labeled_data

                                               FileName Label ClassName
202   ../db/malevis_train/Vilsel/a9ac0378e05d6e3fea9...     0    Vilsel
66    ../db/malevis_train/Vilsel/558a895eb689c222004...     0    Vilsel
2     ../db/malevis_train/Vilsel/9766ffe83baf12fb825...     0    Vilsel
113   ../db/malevis_train/Vilsel/016733a0a80ffc94b3b...     0    Vilsel
152   ../db/malevis_train/Vilsel/50dae188c4de424a5eb...     0    Vilsel
...                                                 ...   ...       ...
7332  ../db/malevis_train/Expiro/3f7e59a9beddab50826...    25    Expiro
7451  ../db/malevis_train/Expiro/05273dc73004a2e3f52...    25    Expiro
7537  ../db/malevis_train/Expiro/1178c39b96279cd70c2...    25    Expiro
7398  ../db/malevis_train/Expiro/79abc5d9e19f84194c3...    25    Expiro
7425  ../db/malevis_train/Expiro/926ef1144df5b775185...    25    Expiro

[754 rows x 3 columns]

In [9]:
dest_path=os.path.join('dataset','annotations')
if not os.path.exists(dest_path):
    os.mkdir(dest_path)

small_labeled_data.to_csv(os.path.join(dest_path,'small_labeled_data.csv'),index=False)